.App{
    width: 100%;
    height: 100%;
}
.Cycler{
    margin-top: 4%;
    width: 100%;
    display: flex;
    z-index: 0;
} 
.Bike{
    height: 500px;
    margin-left: 50%;
    z-index: 1;
}
.Topbar{
    height: 40px;
    display: flex;
}
.Topbuttons{
    height: 150%;
    width: 70%;
    padding-top: 0.5%;
    justify-content: space-evenly;
    margin-left: 30%;
}
.Logo{
    height: 70px;
}
.Cyclersbutton{
    background-color: white;
    border: 0;
    width: 20%;
    border-radius: 50%;
}
.Workingbutton{
    background-color: white;
    border: 0;
    width: 20%;
    margin-left: 5%;
    border-radius: 50%;
}
.Helpbutton{
    background-color: white;
    border: 0;
    width: 20%;
    margin-left: 5%;
    border-radius: 50%;
}
.Explorebutton{
    background-color: white;
    border: 0;
    width: 20%;
    margin-left: 5%;
    border-radius: 20%;
}
